*{
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, blue 50%, rgb(251, 248, 248));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
}

.header {
    padding: 60px;
}

.form {
    padding: 5px;
}

.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid white;
    display: block;
    border-radius: 10px;
    font-size: 12px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
}


.form button{
    background: rgba( 255, 255, 255, 0.35 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}


.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: black;
}